:root {
  --primary-100: #2ee11b;
  --primary-200: #15db00;
  --primary-300: #11ae00;
  --primary-400: #0d8c00;
  --primary-500: #0a6600;
  --secondary-100: #ff801f;
  --secondary-200: #ff6f00;
  --secondary-300: #d55c00;
  --secondary-400: #aa4a00;
  --secondary-500: #7d3600;
  --tertity-100: #dc1b90;
  --tertity-200: #d50081;
  --tertity-300: #a70066;
  --tertity-400: #860051;
  --tertity-500: #62003b;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
